https://www.ritchieng.com/machine-learning-evaluate-linear-regression-model/

http://www.scikit-yb.org/en/latest/api/model_selection/cross_validation.html

How to evaluate a regression model ?
https://www.bmc.com/blogs/mean-squared-error-r2-and-variance-in-regression-analysis/

https://en.wikipedia.org/wiki/Coefficient_of_determination

Metrics for evaluating the models
https://scikit-learn.org/stable/modules/model_evaluation.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Data/house_price/house_sales.csv")

In [3]:
df.head()

,price,num_bed,num_bath,size_house,size_lot,num_floors,is_waterfront,condition,size_basement,year_built,renovation_date,zip,latitude,longitude,avg_size_neighbor_houses,avg_size_neighbor_lot
0,221900,3,1.00,1180,5650,1.0,0,3,0,1955,0,98178,47.511234,-122.256775,1340,5650
1,538000,3,2.25,2570,7242,2.0,0,3,400,1951,1991,98125,47.721023,-122.318862,1690,7639
2,180000,2,1.00,770,10000,1.0,0,3,0,1933,0,98028,47.737927,-122.233196,2720,8062
3,604000,4,3.00,1960,5000,1.0,0,5,910,1965,0,98136,47.520820,-122.393185,1360,5000
4,510000,3,2.00,1680,8080,1.0,0,3,0,1987,0,98074,47.616812,-122.044901,1800,7503

In [4]:
df.shape

(18448, 16)

In [5]:
df.columns.tolist()

['price',
 'num_bed',
 'num_bath',
 'size_house',
 'size_lot',
 'num_floors',
 'is_waterfront',
 'condition',
 'size_basement',
 'year_built',
 'renovation_date',
 'zip',
 'latitude',
 'longitude',
 'avg_size_neighbor_houses',
 'avg_size_neighbor_lot']

In [39]:
from sklearn import preprocessing

# Create x, where x the 'scores' column's values as floats
x = df[['price']].values.astype(float)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
df['price_scaled'] = pd.DataFrame(x_scaled)

In [40]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
model = RandomForestRegressor(max_depth=10)

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
features = ['num_bed', 'num_bath', 'size_house', 'size_lot', 'is_waterfront', 'latitude', 'longitude']
X = df[features]
y = df['price_scaled']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [44]:
from sklearn.model_selection import cross_val_score

In [45]:
# https://www.kaggle.com/c/job-salary-prediction/discussion/4000
cross_val_score(model, X_train, y_train, cv=5, n_jobs=4)

array([0.79223856, 0.85040836, 0.82799242, 0.82384198, 0.82050848])

In [48]:
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)

In [50]:
from sklearn.metrics import r2_score

In [52]:
r2_score(y_test, y_predicted)

0.8414189711178791